html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
    background-color: #90D1CA;
}

.container {
    width: 400px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #333333;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

textarea {
    resize: vertical; /* Allow vertical resize */
    min-height: 150px;
}

button {
    padding: 10px;
    background-color: #129990;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #0f8079;
}

.errmsg {
    color: red;
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
}
